

{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-5">

<div class="card shadow">

<div class="card-body p-4">

<h2 class="text-center mb-4">
Login
</h2>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label class="form-label">

Username / Email

</label>

<input
class="form-control"
type="text"
name="username"
required>

</div>

<div class="mb-3">

<label class="form-label">

Password

</label>

<input
class="form-control"
type="password"
name="password"
required>

</div>

<div class="mb-3 text-end">

<a href="{% url 'forgot_password' %}">

Forgot Password?

</a>

</div>

<button class="btn btn-primary w-100">

Login

</button>

</form>

<hr>

<p class="text-center">

Don't have an account?

<a href="{% url 'signup' %}">

Create one

</a>

</p>

</div>

</div>

</div>

</div>

{% endblock %}